.css-costing-header-left td{
    padding:0;
    margin:0;
    font-size: 0.8em;
    line-height: 1.5em;
    font-weight: bold;
}

.css-text-right{
    text-align: end;
    padding-right: 1px;
}

.css-costing-header-right td{
    padding:0;
    margin:0;
    font-size: 0.8em;
    line-height: 1.5em;
    font-weight: bold;
}

.css-costing-header-table th{
    padding:0;
    margin:0;
    font-size: 1em;
    line-height: 1.3em;
    font-weight: bold;
    text-align: center;
}

.css-costing-header-table td{
    padding:0;
    margin:0;
    font-size: 0.8em;
    line-height: 1.3em;
}

.css-costing-breakdown-table td{
    padding:0;
    margin:0;
    font-size: 0.8em;
}

.css-costing-remarks-table td{
    padding:0;
    margin:0;
    font-size: 0.8em;
}

.css-costing-labor-cost-table td{
    padding:0;
    margin:0;
    font-size: 0.8em;
}

.css-costing-summary-table td{
    padding:0;
    margin:0;
    font-size: 0.8em;
}

.css-select-costing{
    width: 100%;height:100%;
    border:none;
}

.css-select-costing-table{
    width: 100%;height:16px;
    border:none;

}

.css-input-costing{
    width: 100%;
    height:100%;
    max-height: 20px;
    display: inline-block;position: relative;
    background-color: var(--bs-body-bg);
    border:none;
}

.css-input-costing-labor-cost{
    width: 100%;
    height:100%;
    max-height: 15px;
    display: inline-block;position: relative;
    background-color: var(--bs-body-bg);
    border:none;
}

.costing_btn_add_remove:hover{
    opacity: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.costing_fob_sign{
    width:1rem;height: 1.2rem;font-weight: bold;
    border: none;
    background-color:var(--bs-body-bg);
}

.costing_fob_sign_total{
    width:0.4rem;height: 100%;font-size:.8em;font-weight: bold;
    border: none;
    background-color:#b5f7bd;
    /*background: white;*/
    margin:0;padding: 0;
}

.css-input-costing-total{
    height: 1rem;font-size:1em;font-weight: bold;
    margin:0;padding: 0;
    border: none;
    background-color:#b5f7bd;
    text-align: end;
}

.costing_fob_sign_data{
    width:0.4rem;height: 100%;font-size:.8em;font-weight: bold;
    border: none;

    /*background: white;*/
    margin:0;padding: 0;
}

.costing_percent_sign_data{
    width:0.5rem;height: 100%;font-size:.8em;font-weight: bold;
    border: none;

    /*background: white;*/
    margin:0;padding: 0;
}

.css-input-costing-data{
    height: 1rem;font-size:1em;
    margin:0;padding: 0;
    border: none;

    text-align: end;
}

.css-input-costing-data-solo{
    height: 1rem;font-size:1em;
    margin:0;padding: 0;
    border: none;
    width: 100%;
    text-align: center;
}

.css-costing-cb{
    transform: scale(.8);
    vertical-align: sub;
}

.costing-search-switch-multi{
    height:100%;
    width:35px;
    border:1px solid grey;
    border-radius:5px;
}

.costing-search-switch-single{
    height:100%;
    width:35px;
    border:1px solid grey;
    border-radius:5px;
}

.costing-search-multi-btn{
    height:100%;
    width:35px;
    border:1px solid grey;
    border-radius:5px;
}

.costing-search-switch-multi:hover{
    opacity: 0.5;
}

.costing-search-row-single{
    border-top:1px solid grey;border-bottom:1px solid grey; padding: 5px;
}

.costing-search-row-multi{
    border-top:1px solid grey;border-bottom:1px solid grey; padding: 5px;
    height:49px;

}

.costing-search-input{
    border-radius:5px;
    border: 1px solid grey;
    line-height: 1.6;
}

@media only screen and (min-width: 1600px) {

    .cost_container_main_cs{
        width: 1580px !important;max-width:1580px !important;margin:0px !important;
    }

    .cost_col_item_no{
        min-width:50px ;

    }


    .cost_col_component{
        min-width:70px;
    }

    .cost_col_material_id{
        min-width:75px;
    }

    .cost_col_category{
        min-width:115px ;
    }

    .cost_col_nominated{
        min-width:80px;
    }

    .cost_col_coo{
        min-width:50px;
    }

    .cost_col_supplier_ref{
        min-width:95px;
    }

    .cost_col_description{
        min-width:140px;
    }

    .cost_col_location{
        min-width:80px;
    }

    .cost_col_mtl{
        min-width:80px;
    }

    .cost_col_mill_supplier{
        min-width:80px;
    }

    .cost_col_uom{
        min-width:50px;
    }

    .cost_col_width{
        min-width:65px;
    }

    .cost_col_usage{
        min-width:65px;
    }

    .cost_col_wastage{
        min-width:58px;
    }

    .costing_formula_wastage{
        width: 45px;
    }

    .cost_col_gross_yield{
        min-width:68px;
    }

    .cost_col_unit_cost{
        min-width:70px;
    }

    .cost_col_handling{
        min-width:55px;
    }

    .costing_formula_handling{
        width: 42px;
    }

    .cost_col_total{
        min-width:80px;
    }

    .cost_col_comment{
        min-width:80px;
    }

    .cost_col_tabspace{
        min-width:60px;
    }



    .costing_formula_unit_cost{
        width: 57px;
    }



    .costing_formula_total_cost{
        width: 68px;
    }

}


@media only screen and (min-width: 1920px) {

.cost_container_main_cs{
    width: 1900px !important;max-width:1900px !important;margin:0px !important;
}

.cost_col_item_no{
    min-width:66px ;

}


.cost_col_component{
    min-width:86px;
}

.cost_col_material_id{
    min-width:91px;
}

.cost_col_category{
    min-width:131px ;
}

.cost_col_nominated{
    min-width:96px;
}

.cost_col_coo{
    min-width:86px;
}

.cost_col_supplier_ref{
    min-width:111px;
}

.cost_col_description{
    min-width:156px;
}

.cost_col_location{
    min-width:96px;
}
.cost_col_mtl{
    min-width:116px;
}

.cost_col_mill_supplier{
    min-width:116px;
}

.cost_col_uom{
    min-width:66px;
}

.cost_col_width{
    min-width:81px;
}

.cost_col_usage{
    min-width:81px;
}

.cost_col_wastage{
    min-width:91px;
}

.cost_col_gross_yield{
    min-width:96px;
}

.cost_col_unit_cost{
    min-width:86px;
}

.cost_col_handling{
    min-width:86px;
}

.cost_col_total{
    min-width:96px;
}

.cost_col_comment{
    min-width:111px;
}

.cost_col_tabspace{
    min-width:76px;
}

.costing_formula_wastage{
    width: 78px;
}

.costing_formula_unit_cost{
    width: 73px;
}

.costing_formula_handling{
    width: 73px;
}

.costing_formula_total_cost{
    width: 84px;
}

}
